[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/my-blog-theme"]
	path = themes/my-blog-theme
	url = https://github.com/croach/blog-theme.git
